/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
.form-div{
	margin: 50px auto 50px;
	padding: 25px 15px 10px 15px;
	border: 1px solid #00cc44;
	border-radius: 5px;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
}
.form-control:focus{
	box-shadow: none;
}
form p{
	font-size: .85em;
}

.form-div.login{
	margin-top: 100px;
	border-color: #099ded;
}
.logout{
	color: red;
}